html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Consolas";
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  flex-direction: row;
  background-image: url("/assets/img/pc_workspace.jpg");
  background-size: cover;
  background-position-y: 50%;
  padding: 20px 40px;
  height: 200px;
  align-items: center;
}
.header-logo {
  width: 400px;
  height: auto;
}
header ul {
  list-style-type: none;
  margin-left: 100px;
}
header li {
  display: inline-block;
  color: white;
  font-size: 24px;
  margin-right: 50px;
}
main {

  height: 300px; 
  width: 98vw;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.task {
  overflow-y: auto; 
  max-height: 400px; 
  border: 1px solid #ccc; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.editor {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
#check-button {
  width: 120px;  
  padding: 10px;  
  font-size: 14px;  
  cursor: pointer;  
  border: none;  
  color: black;  
  border-radius: 5px; 
  margin: 20px auto 0px auto;
}

.preview {
  border: 2px solid #ccc;
  background-color: #f9f9f9;
}

.btn-modal{
  width: 120px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;

  border: none;
}

.modal_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgb(0, 0, 0, 0.7);
}

.modal{
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding: 30px;
  position: relative;
}

.modal_close{
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  background: transparent;

  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal_close:before, 
.modal_close:after{
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  background-color: black;
  content: "";

}

.modal_close:after{
  transform: rotate(-45deg);

}